body {
  font-family: 'Space Grotesk', sans-serif;
  background: #fcfcfc;
}
.text-blue {
  color: #31425c
}
.text-lighterblue {
  color: #898db4
}
.text-yellow {
  color: #01112a
}
.bg-blue {
  background: #0ab288
}
.bg-gery {
  background: #F5F5F5
}
.bg-lightergrey {
  background: #fcfcfc
}
.font18 {
  font-size: 18px;
}
.font16 {
  font-size: 16px;
}
.font14 {
  font-size: 14px;
}
.font12 {
  font-size: 12px;
}
.box-shadow {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(190, 190, 190, 0.5);
  -moz-box-shadow: 0px 0px 5px 0px rgba(190, 190, 190, 0.5);
  box-shadow: 0px 0px 5px 0px rgba(190, 190, 190, 0.5);
}
.border-radius6 {
  border-radius: 6px
}
.border-radius12 {
  border-radius: 12px !important
}
.btn-primary {
  background: #0ab288;
  border-color: #0ab288
}
.btn-primary:focus, .btn-primary:active, .btn-primary:hover {
  background: #10175b;
  border-color: #10175b
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  background: #10175b;
  border-color: #10175b
}
.btn-primary.disabled, .btn-primary:disabled {
  background-color: #0ab288;
  border-color: #0ab288;
}
.btn-link {
  color: #0ab288
}
.btn-link:focus, .btn-link:active, .btn-link:hover {
  text-decoration: none;
}
.form-group label {
  font-weight: 500
}
.form-control:focus {
  background-color: none;
  border-color: #0ab288;
  box-shadow: 0 0 0 0.2rem rgb(21 33 114 / 25%);
}
.form-control {
  border: solid 1px #dcdcdc;
  color: #bebebe;
  background: none
}
.form-control::-webkit-input-placeholder {
  color: #dcdcdc;
}
/*--------LOGIN AND REGISTER--------*/
.centeredpage {
  width: 100%;
  margin: auto;
}

/*--------MODAL STYLE--------*/
.modal-content {
  border-radius: 0;
  border: none;
}
.modal-header {
 
 background: none;
}

/*----------------------------------forselect---------------------------------------*/
#myDropdown, .dd-container { width:100%}
.dd-select label { line-height:25px!important; margin-bottom:0px; font-weight:normal!important}
.dd-selected { padding:5px!important; background:#fff; border-radius:5px!important;border:solid 1px #dcdcdc; color:#ccc!important}
.dd-select { border:0px!important;color:#31425c!important}
.dd-options { width:100%; border:0px!important;}
.dd-option-text { line-height:25px!important; margin-bottom:0px}

/*---------------------MAIN PAGE----------------*/
.logopos { top:50px;}

.logopos img { background: #fff; padding: 10px; border-radius:50%;}
.kycmodal .modal-header { border-bottom: 0px;}
.kycmodal .modal-content { border-radius:10px;}


/*----------------verify------------------*/
.boxblue {  border: dashed 1px #152173; border-radius:10px;}

.centeror { position:relative; padding: 10px; top:-44px; background: #fff; border-radius:50%;  border: dashed 1px #152173; }